
body {
  color: #000040;
}

h1, h2, h3, h4, h5 {
  color: #3b2200;
}

.code {
  color: black;
}

#toc {
  background-color: #d8d8d8;
  float: right;
}

#toc a:link, a:visited, a:active {
  color: navy;
}

#toc a:hover {
  color: blue;
}

.collapse_region {
  border: 1px solid black;
  background-color: #f8f8f8;

  padding-left: 5px;
  margin-bottom: 15px;
}
